* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-color: #66CCFF;
	height: 100%;
	width: 100%;
}

#heading{
	background-color: #66CCFF;
	border-bottom: thick solid #0099CC; 
	padding: 20px;
	text-align: center;
}

#content{
	padding-top: 30px;
	padding-bottom: 80px;
	background-color: #66CCFF;
}

#editing{
	height: 600px;
	width: 600px;
	background-color: #D3D3D3;
	box-shadow: inset 0 3px 8px #000000;
}

#picture{
	margin-bottom: 15px;
	margin-left: 10px;
	height: 100%;
}

input {
	font-size: 16px;
	padding:20px;
}

#imageContainer{
	z-index: 0;
}

#drawing{ 
	width:0; 
	height:0; 
	z-index: 1;
}

.button{
	padding: 10px 15px;
	margin: 10px;
	background: #0099CC;
	color: #FFF;
	display: inline-block;
}

.button:disabled{
	color: #000;
	background: #D3D3D3;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 15px;
	height: 50px;
	width: 75px;
}

/*#rectDrawing{
	position: absolute; 
	width:0; 
	height:0; 
	left: 0; 
	top: 0; 
	z-index:1; 
	opacity: 0.7; 
}*/
/*#download {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}*/

